/*
	Name: Golden Garden - Style Page
	Description: CSS style sheet for the golden garden website.
	Created By: Jennifer Ryan, Deirbhle Touhy and Sunje Alice Winteler.
	Created On: 04/02/2019
*/
body{
	margin-left: auto;
	margin-right: auto;
}

.container{
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	
	font-family: "Kurale", "Times New Roman", serif;
	
}


header{
	width: 100%;
	height: auto;
	background-color: #333;
}


/*Nav Editing*/
nav{
	width: 100%;
	background; #333;
	
}
.vidLogo{
	
	
}

ul{
	width: 80%;
	margin: 0 auto;
	padding-left:15%;
}

ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
}

ul li:hover{
	background: #202020;
	text-decoration: none;
}
ul li a{
	color: #fff;
	text-decoration: none;
}
.toggle{
	width: 100%;
	padding: 10px 20px;
	background: #202020;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}
@media(max-width: 786px){
	.toggle{
		display: block;
	}
	ul{
		width: 100%
		display: none;
	}
	ul li{
		display: block;
		text-align: center;
	}
	.active{
		display: block;
	}
}

/*End of Nav Editing*/



/* Slideshow  */

.slideshow-container {
  max-height: auto;
  width: 450px;
  position: relative;
  margin-left: 5%;
  margin-top: 2%;
  background-color: grey;
  overflow: clear;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/*Responsive Images*/
.responsive {
  width: 450px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
 
}

.
/* The dots/bullets/indicators 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#dot{							
	text-align: auto;
}

.active, .dot:hover {
  background-color: #717171;
}*/


/*Home Page of Content within header and footer*/
.contentHome{
	background-image: url("resources/images/Crushed_Plum_Slate.jpg");
	background-size: 100%;
	text-align: center;
}
.contentHome p{
	color: white;
}

/*background opacity*/
.text-block1 {
 position: relative;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4);/* Black background with 0.5 opacity */
  width: 100%;
  padding: 20px;
  }
.text-block1 h2{
	color: yellow;
}

.text-block2 h3{
	color: #FFF500;
}
.text-block2 h3:hover{
	color: #fff;
	text-decoration: none;
}

.text-block3 h3{
	color: #FFF500;
}
.text-block3 h3:hover{
	color: #fff;
	text-decoration: none;
}
.text-block4 {
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4);/* Black background with 0.5 opacity */
  width: 100%;
  padding: 20px;
}
.text-block4 h2{
	color: #FFF500;
}


/*End of Home Page Content within header and footer*/
/*Product Page*/
.productLand{
	background-color:#666666;
}
.productLand{
	text-align: center;
	color: #FFF500;
}
.card{
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 3%;
	background-color: grey;
	color: white;
}
.card h5{
	color: #FFF500;
}

.productSand h2{
	text-align: center;
	color: #FFF500;
	
	
}
.productSand{
	background-color:#666666;
}

/*Content on Contact Page*/ 

img{
	display: block;
	max-width: 100%;
}
.contactImage{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.contentContact{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.contentContact h2 {
	background-color: rgba(0,0,0,0.4);
}

.contentContact p {
	background-color: rgba(0,0,0,0.4);
}
.blur{
	/* Add the blur effect*/
	filter: blur(3px);
  -webkit-filter: blur(3px);
}
.contentContact h1{
	color: #FFF500;
	-webkit-text-stroke: 1px black;
	text-align: center;
	text-decoration: none;
}
.contactForm h2{
	color: #FFF500;
	text-align: center;
	margin-top: 10%;
}
.contactForm p{
	color: #fff;
	text-align: center;
}
form{
	width: 650px;
	margin-left: 15px;
}
.form-group label{
	background-color: rgba(0,0,0,0.4);
}
input[type=text] {
	background-color: #dddddd;
}
input[type=email]{
	background-color: #dddddd;
}
.form-control{
	background-color: #dddddd;
}
label{
	 font-weight: bold;
	 color: #FFF500;
}
.btn{
	font-weight: bold;
	font-variant: small-caps;
	background-color: #FFF500;
	color: black;
	border: 3px solid black;
}

.map{
	color: #FFF500;
	padding-left: 20px;
	border-left: 3px solid #FFF500;
	height: auto;
	margin-top: 10%;
	text-align: center;
}
.map p{
	color: #fff;
}


/*End of Contact Page Styling*/
footer{
	color: grey;
	background-color: #333;
	text-align: center;	
}
footer th{
	text-align: left;	
}

footer h5{
	color: white;
}

/*social icons*/
.facebook {
	width: 11%;
	height: auto;
	padding-bottom:5%;
	display: inline-block;
	}
.instagram {
	width: 20%;
	height: auto;
	display: inline-block;
}


/*Media Queries*/
/*Header*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Contact Content*/

@media screen and (max-width: 600px) {
	.contactImage img{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
	}
	.contentContact{
		position: relative;
		right: 0;
		top: 0;
	}
	.contactForm{
		display: block;
		width: 100%;
	}
}
/*Footer*/

@media screen and (max-width: 600px) {
	.col-sm-3{
		margin-bottom: 3%;
	}
}



