/*
	Name: Golden Garden - Style Page
	Description: CSS style sheet for the golden garden website.
	Created By: Jennifer Ryan, Deirbhle Touhy and Sunje Alice Winteler.
	Created On: 04/02/2019
*/
body{
	margin-left: auto;
	margin-right: auto;
}

.wrapper{
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	
	font-family: "Kurale", "Times New Roman", serif;
	
}

header{
	width: 100%;
	height: auto;
	
}


/*Nav Editing*/
.navbar-brand h1 {
	color: yellow;
}
.navbar-nav{
	padding-left: 45%;
}
.navbar-dark .navbar-nav .nav-link {
	color: yellow;
	
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
	color: yellow;
}


.dropdown-menu{
	background-color: #212529;
}

.dropdown-item{
	color: yellow;
}
/*End of Nav Editing*/



/* Slideshow  */
.slideshow-container {
  max-height: 600px;
  width: auto;
  position: relative;
  margin: auto;
  background-color: grey;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/*Responsive Images*/
.responsive {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
 
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#dot{							
	text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}


/*Home Page of Content within header and footer*/
.contentHome{
	
	background-image: url("resources/images/Crushed_Plum_Slate.jpg");
	background-size: 100%;
	text-align: center;
}
a:link{
	color: yellow;
	text-decoration: none;
}
.text-block1{
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.text-block1 h2{
	color: yellow;
}
.text-block2{
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.text-block3{
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.text-block4{
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
/*End of Home Page Content within header and footer*/



/*Content on Contact Page*/ 

img{
	display: block;
	max-width: 100%;
}
.contactImage{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.contentContact{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.blur{
	/* Add the blur effect*/
	filter: blur(3px);
  -webkit-filter: blur(3px);
}
.contentContact h1{
	color: yellow;
	text-align: center;
	text-decoration: underline;
}
.contactForm h3{
	color: yellow;
	text-align: center;
	margin-top: 10%;
}
.contactForm p{
	color: yellow;
	text-align: center;
}
form{
	width: 650px;
	margin-left: 15px;
}
label{
	 font-weight: bold;
	 font-variant: small-caps;
	 color: yellow;
}
.btn{
	font-weight: bold;
	font-variant: small-caps;
	background-color: yellow;
	color: black;
	border: 3px solid black;
}

.map{
	color: yellow;
	padding-left: 20px;
	border-left: 3px solid yellow;
	height: auto;
	margin-top: 10%;
	text-align: center;
}
/*End of Contact Page Styling*/
footer{
	color: yellow;
	background-color: #212529;
	text-align: center;	
}

h5{
	text-decoration: underline;
}






